 /* Header */
 .header {
    font-family: cursive;
    background-color: #4D44B5;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
  }
  

  /* Container */
  .container {
    font-family: cursive;
    margin: 20px auto;
    padding: 20px;
    max-width: 1100px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  h2 {
    font-family: 'cursive';
    font-style: normal;
    margin: 0;
    color: #4a3cbf;
  }

  /* Botão Novo Aluno */
  .new-button:not(img) {
    font-family: 'cursive';
    font-style: initial;
    width: 100px;
    height: 35PX;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #4D44B5;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 
}
  

  .new-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  .button-image {
    border: none; /* Remove a borda */
    background: none; /* Remove o fundo */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.profile-pic {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}
